@import url(./index.css);

.item {
  display: flex;
  align-items: center;
  gap: var(--spacing-24);
}

.item__img {
  flex: 1 1 100%;
}
.item__info {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.item__licence {
  font-size: var(--font-small);
  font-weight: 500;
}

.item__name {
  font-size: var(--font-jumbo);
  font-weight: 700;
}

.item__description {
  font-size: var(--font-large);
  font-weight: 400;
}

.item__price {
  font-size: var(--font-jumbo);
  font-weight: 400;
}

.item__cart {
  display: flex;
  gap: var(--spacing-16);
}

.item__cart .item__quantity {
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  border: none;
  cursor: pointer;
}

.item__quantity {
  background-color: var(--dark-900);
  color: var(--light-font-solid);
  font-size: var(--font-xsmall);
  border: none;
  padding: var(--spacing-8) var(--spacing-20);
  width: fit-content;
  transition: background 0.1s ease-in-out;
}

.item__quantity:hover {
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
}

.item__cart .item__input {
  font-size: var(--font-large);
  padding: 6px var(--spacing-16);
  text-align: center;
  max-width: 70px;
}

.item__cart .item__submit {
  font-size: var(--font-medium);
}

.item__submit {
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  font-size: var(--font-xsmall);
  border: none;
  padding: var(--spacing-8) var(--spacing-20);
  width: fit-content;
  transition: background 0.1s ease-in-out;
}

.item__submit:hover {
  background-color: var(--dark-900);
  color: var(--light-font-solid);
}

.item__promo {
  font-size: var(--font-xsmall);
  font-weight: 700;
  color: var(--secondary-solid);
}

.item__promo a {
  text-decoration: underline;
}

@media screen and (width >= 768px) {
  .navbar--responsive {
    display: none;
  }

  .footer__copyright--responsive {
    display: none;
  }
}

@media screen and (width <= 768px) {
  #edit {
    margin: var(--spacing-8);
    padding-left: var(--spacing-8);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: stretch;
    gap: var(--spacing-20);
    max-width: 70em;
  }

  .navbar {
    display: none;
  }

  .navbar--responsive {
    display: flex;
    justify-content: space-around;
  }

  .navbar__logo--responsive {
    max-width: 200px;
  }

  .navbar__link--responsive {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background 0.3s ease-in-out;
    position: relative;
  }

  .navbar__link--responsive:hover {
    color: var(--primary-900);
  }

  .with-icon--responsive {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
  }

  .with-submenu--responsive:hover .submenu--responsive {
    display: block;
  }

  .submenu--responsive {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
  }
  .submenu__link--responsive {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background 0.3s ease-in-out;
  }

  .submenu__link--responsive:hover {
    background-color: var(--primary-900);
  }

  .submenu__link__shop--responsive {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-xsmall);
    transition: background 0.3s ease-in-out;
  }

  .submenu__link__shop--responsive:hover {
    background-color: var(--primary-900);
  }

  .create {
    font-size: 0.75em;
  }

  .register__data {
    margin-left: 1.2em;
  }

  .terminos__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: var(--spacing-20);
    width: 360px;
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-68);
    font-size: xx-small;
  }

  .footer__copyright {
    display: none;
  }

  .navbar--responsive {
    display: flex;
    justify-content: space-evenly;
  }

  .navbar__link--responsive {
    font-size: var(--font-xsmall);
  }

  .footer__copyright--responsive {
    font-size: var(--font-xsmall);
    text-align: center;
    padding-top: var(--spacing-28);
  }

  .picture__footer--responsive {
    max-width: 100px;
  }
}
