@import url("./index.css");

::placeholder {
  opacity: 0.5;
}

.register__title {
  font-size: var(--font-xlarge);
  font-family: var(--alternative-font);
  align-items: center;
  align-content: center;
  text-align: center;
  padding: var(--spacing-28);
  font-weight: 600;
}

.register__text {
  font-family: var(--font-display);
  font-size: var(--font-large);
  text-align: center;
}

.register__form {
  display: grid;
  max-width: 380px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-24);
  padding-top: 30px;
}

.register__label {
  font-family: var(--alternative-font);
  color: var(--dark-solid);
  font-weight: 500;
  font-size: var(--font-medium);
}

.register__input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid var(--primary-solid);
  outline: none;
  width: 150px;
}

.register__input--dot {
  letter-spacing: 0.25em;
  font-size: medium;
}

.button__register {
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  font-size: var(--font-xsmall);
  border: none;
  padding: var(--spacing-8) var(--spacing-20);
  width: fit-content;
  transition: background 0.1s ease-in-out;
}

.button__register:hover {
  background-color: var(--dark-900);
  color: var(--light-font-solid);
}

.terminos__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: var(--spacing-20);
  width: 400px;
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-68);
}

.terminos__check--label {
  font-family: var(--base-font);
  font-size: var(--font-xsmall);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.terminos__label {
  margin-left: 8px;
}

.terminos__link {
  color: #1d84b5;
  font-style: var(--base-font);
}

.footer {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-68);
}

.footer__register {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-68);
  position: relative;
  bottom: 0;
  width: 100%;
}

@media screen and (width >= 768px) {
  .navbar--responsive {
    display: none;
  }

  .footer__copyright--responsive {
    display: none;
  }
}

@media screen and (width <= 768px) {
  .navbar {
    display: none;
  }

  .navbar--responsive {
    display: flex;
    justify-content: space-around;
  }

  .navbar__logo--responsive {
    max-width: 200px;
  }

  .navbar__link--responsive {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background 0.3s ease-in-out;
    position: relative;
  }

  .navbar__link--responsive:hover {
    color: var(--primary-900);
  }

  .with-icon--responsive {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
  }

  .with-submenu--responsive:hover .submenu--responsive {
    display: block;
  }

  .submenu--responsive {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
  }
  .submenu__link--responsive {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background 0.3s ease-in-out;
  }

  .submenu__link--responsive:hover {
    background-color: var(--primary-900);
  }

  .submenu__link__shop--responsive {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-xsmall);
    transition: background 0.3s ease-in-out;
  }

  .submenu__link__shop--responsive:hover {
    background-color: var(--primary-900);
  }

  .create {
    font-size: 0.75em;
  }

  .register__data {
    margin-left: 1.2em;
  }

  .terminos__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: var(--spacing-20);
    width: 360px;
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-68);
    font-size: xx-small;
  }

  .footer__copyright {
    display: none;
  }

  .navbar--responsive {
    display: flex;
    justify-content: space-evenly;
  }

  .navbar__link--responsive {
    font-size: var(--font-xsmall);
  }

  .footer__copyright--responsive {
    font-size: var(--font-xsmall);
    text-align: center;
    padding-top: var(--spacing-28);
  }

  .picture__footer--responsive {
    max-width: 100px;
  }
}
